body{
    background-color: #184e77;
}
.container{
    max-width: 400px;
    width: 90%;
}
input[type='text'],
input[type='text']:focus{
   color: white;
   background-color: #03045e;
   border: none;
}
.listtodos li{
background-color:white;
}
.filtered{
    display: none !important;
}
.edit{
   cursor: pointer;
   position: absolute;
   left: 18em;
}
.delete{
    cursor: pointer; 
}
.delete:hover{
    color: red;
}
.add{
   position: relative;
}
.plus{
    position: absolute;
    top: 2.8em;
    right: 1em;
}
@media screen and (max-width: 700px) {
    .edit{
        cursor: pointer;
        position: absolute;
        left: 15em; 
     }
}